@media only screen and (min-width: 1567px) {
  .inf {
    width: 15vh;
    height: 15vh;
  }

  .conte0 {
    height: 7.4vw;
  }

  header #toggle {
    width: 2.8vw;
    height: 2.5vw;
  }

  header #toggle:after {
    height: 4px;
  }

  header #toggle:before {
    height: 4px;
  }

  #btn {
    width: 4vw;
    height: 4vw;
  }

  #btn.play .bar-1 {
    -webkit-transform: translateX(0.4vw) translateY(-0.7vw) rotate(-55deg);
    -ms-transform: translateX(0.4vw) translateY(-0.7vw) rotate(-55deg);
    -moz-transform: translateX(0.4vw) translateY(-0.7vw) rotate(-55deg);
    -o-transform: translateX(0.4vw) translateY(-0.7vw) rotate(-55deg);
    transform: translateX(0.4vw) translateY(-0.7vw) rotate(-55deg);
  }

  #btn.play .bar-2 {
    -webkit-transform: translateX(0.4vw) translateY(0.1vw) rotate(-125deg);
    -ms-transform: translateX(0.4vw) translateY(0.1vw) rotate(-125deg);
    -moz-transform: translateX(0.4vw) translateY(0.1vw) rotate(-125deg);
    -o-transform: translateX(0.4vw) translateY(0.1vw) rotate(-125deg);
    transform: translateX(0.4vw) translateY(0.1vw) rotate(-125deg);
  }

  #btn.pause .bar-1 {
    -webkit-transform: translateX(-0.4vw) translateY(-0.4vw) rotate(0);
    -ms-transform: translateX(-0.4vw) translateY(-0.4vw) rotate(0);
    -moz-transform: translateX(-0.4vw) translateY(-0.4vw) rotate(0);
    -o-transform: translateX(-0.4vw) translateY(-0.4vw) rotate(0);
    transform: translateX(-0.4vw) translateY(-0.4vw) rotate(0);
  }

  #btn.pause .bar-2 {
    -webkit-transform: translateX(0.7vw) translateY(-0.4vw) rotate(0);
    -ms-transform: translateX(0.7vw) translateY(-0.4vw) rotate(0);
    -moz-transform: translateX(0.7vw) translateY(-0.4vw) rotate(0);
    -o-transform: translateX(0.7vw) translateY(-0.4vw) rotate(0);
    transform: translateX(0.7vw) translateY(-0.4vw) rotate(0);
  }

  #btn .bar {
    top: 1.6vw;
    right: 2vw;
    width: 0.2vw;
    height: 1.5vw;
  }

  .slider {
    height: 50vw;
    width: 19vw;
  }

  .slide {
    height: 50%;
  }

  .contact-form {
    min-width: 46vw;
    padding: 0.7vw;
  }

  .contact-form-text {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.2vw 0;
    border: 0;
    background: #111;
    padding: 2.2vw 3.3vw;
    outline: 0;
    color: #ddd;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.9;
    height: 4.5vw;
    font-size: 1.5vw;
  }

  textarea.contact-form-text {
    resize: none;
    height: 9vw;
  }

  .cont4__item form button {
    display: -ms-inline-flexbox;
    padding: 1vw 1.8vw;
    font-size: 1.5vw;
    -o-transition: 0.5s;
    letter-spacing: 0.4vw;
    margin: 3.7vw auto;
    -ms-transform: translate(-50%, -50%);
  }

  .errorMess {
    font-size: 1.5vw;
  }

  footer {
    height: 8vw;
  }

  footer ul li a {
    width: 5vw;
    height: 5vw;
    line-height: 5.2vw;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 1200px) {
  .content p {
    width: 319px;
  }

  .content {
    left: 3%;
  }

  .content h2 {
    font-size: 4.5em;
  }

  .logo {
    left: -3%;
  }

  .container2 .box2 .content2 h2 {
    font-size: 3.2vw;
    margin: 0 0 0;
  }

  .cont3 h3 {
    top: 2.5vw;
    font-size: 5.5vw;
  }

  .container2 .box2 .content2 p {
    font-size: 1.7vw;
  }

  .backgimg {
    height: 500px;
  }
}

@media only screen and (max-width: 1029px) {
  .w {
    height: 500px;
  }

  .cont2__item h2 {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 900px) {
  .content h2 {
    font-size: 3.5em;
  }

  .content p {
    width: 280px;
    font-size: 18px;
  }

  .cont2__item h2 {
    font-size: 7vw;
  }

  .logo {
    left: -8%;
  }

  .container2 .box2 .content2 h2 {
    font-size: 3vw;
    margin: 0 0 0;
  }

  .container2 .box2 .content2 p {
    padding: 2%;
  }

  .cont3__item2 {
    font-size: 14.5px;
  }

  .cont3 h3 {
    font-size: 7vw;
  }

  .slider {
    height: 75%;
    width: 28vw;
  }

  .slide {
    height: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .section1 a {
    width: 60px;
    height: 80px;
  }

  .section1.active {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }

  #navigation {
    width: 250px;
  }

  #navigation ul li {
    font-size: 5px 0;
    margin: 5px 0;
  }

  .content {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header {
    padding: 20px 50px;
  }

  header .logo {
    width: 0;
  }

  .content {
    display: none;
    left: 190px;
    top: 225px;
  }

  .content p {
    display: none;
  }

  .conte0 {
    padding: 0 40px;
  }

  #navigation {
    width: 250px;
  }

  #navigation ul {
    left: 5%;
  }

  #navigation ul li a {
    font-size: 1.5em;
    margin: 5px 0;
  }

  .section1.active {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }

  .w {
    height: 350px;
  }

  .container2 .box2 .content2 h2 {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 600px) {
  .w {
    height: 300px;
  }

  .container2 .box2 .content2 p {
    padding: 2px;
  }

  .backgimg {
    height: 450px;
  }

  .cont3__item2 {
    font-size: 12px;
  }

  .cont4__item h1 {
    font-size: 6.5vw;
  }
}

@media only screen and (max-width: 529px) {
  .gaz {
    width: 255px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .w {
    height: 650px;
  }

  .container2 .box2 .content2 h2 {
    font-size: 20px;
    margin: 0 0 5px;
  }

  .container2 .box2 .content2 p {
    font-size: 13.2px;
    padding: 5px;
  }

  .cont2__item h2 {
    font-size: 40px;
  }

  .backgimg {
    height: 590px;
  }

  .cont3__item2 {
    font-size: 12.5px;
    width: 100%;
  }

  .slider {
    margin: 0 auto;
    height: 70vw;
    width: 42%;
  }

  .slide {
    height: 230px;
  }

  .contact-form-text {
    padding: 4.2vw 4.3vw;
  }
}

@media only screen and (max-width: 480px) {
  .cont2__item {
    margin-top: 5vw;
  }

  .gaz {
    width: 240px;
    margin: 10px;
  }

  .backgimg {
    height: 630px;
  }

  .containerflex {
    height: 85%;
    margin-top: 20px;
  }

  .cont3__item2 {
    font-size: 12px;
  }

  .cont3 h3 {
    font-size: 8vw;
  }

  .slider {
    width: 50%;
    bottom: 15px;
    height: 63vw;
  }

  .slide {
    height: 58vw;
  }

  .cont4__item h1 {
    font-size: 8vw;
  }

  .cont4__item form a {
    letter-spacing: 0.8vw;
  }
}

@media only screen and (max-width: 320px) {
  .conte0 {
    padding: 0 30px;
  }

  header {
    padding: 20px 40px;
  }

  .section1.active {
    -webkit-transform: translateX(-65vw);
    -ms-transform: translateX(-65vw);
    -moz-transform: translateX(-65vw);
    -o-transform: translateX(-65vw);
    transform: translateX(-65vw);
  }

  #navigation {
    width: 65vw;
  }

  .container2 .box2 .content2 h2 {
    margin: 0 0 0;
  }

  .cont3 h3 {
    font-size: 8.5vw;
  }

  .slider {
    bottom: 0;
    width: 55%;
    height: 90vw;
  }

  .slide {
    height: 70vw;
  }

  .cont3__item2 {
    font-size: 11px;
  }

  .cont4__item {
    padding: 8.5vw 0;
  }

  .cont4__item h1 {
    font-size: 8.5vw;
  }

  footer ul li a {
    margin: 0 2vw;
  }

  footer ul li {
    padding-right: 0;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  .content {
    display: none;
  }
}

@media only screen and (width: 900px) and (height: 1440px) {
  .content {
    display: none;
  }
}

@media only screen and (width: 864px) and (height: 1536px) {
  .content {
    display: none;
  }
}

@media only screen and (width: 900px) and (height: 1600px) {
  .content {
    display: none;
  }
}
